/* -------- COR DO FUNDO DA PÁGINA------------- */
body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

/* ---------- TÍTULO DA PÁGINA ----------- */
header{
    display: flex;
    justify-content: center;
}

header h1{
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    font-weight: 700;
    text-align: center;
}

/* ---------- CRONOMETRO QUE CONTA O TEMPO DO JOGO ----------- */
.cronometro{
    color: red;
    position: relative;
    left: calc(50vw + 270px);
    top: 3vh;
    font-size: 25px;
    font-weight: 700;
}

/* ---------- CAMPO DAS CARTAS ----------- */
main{
    margin-top: 47px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ---------- CARTAS - FRENTE E VERSO ----------- */
.carta{
    width: 117px;
    height: 146px;
    box-sizing: border-box;
    margin-right: 17px;
    margin-left: 17px;
    margin-bottom: 34px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

/* ---------- ANIMAÇAO DE VIRADA DAS CARTAS ----------- */
.front-face {
    transform: rotateY(0deg);
}

.back-face {
    transform: rotateY(180deg);
}

.front-giro {
    transform: rotateY(-180deg);
}

.front-gire {
    transform: rotateY(-180deg);
}

.back-gire {
    transform: rotateY(0deg);
}

.back-giro {
    transform: rotateY(0deg);
}

/* --------- TAMANHO IMAGENS DAS CARTAS ------------ */
.carta img{
    width: 100px;
    height: 100px;
}

/* --------- AJUSTES PARA CELULAR ------------ */
@media (max-width:614px) {
    header h1{
        font-size: 36px;
        width: 312px;
    }
    main{
        flex-direction: column;
        align-items: center;
    }
    .cronometro{
        left: 50vw;
    }
}